.header {
  min-height: 60px;
  background-color: #000;
  color: #fff;
  box-shadow:  4px 7px 24px 8px rgba(29, 29, 27, 0.11);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.header__title{
  margin-left: 40px;
}


.header__title--difColor{
 color: #eabf00;
}


