
 .filters {
 margin-bottom: 20px;
    }
@media screen and (max-width: 575px) {
  .filters {
text-align: center;
  }
  .title {
    margin-bottom: 20px;
  }
 
}

@media screen and (min-width: 576px) {
  
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin-right: 20px;
}
}

