body {
  margin: 0;
  color: #1b1a20;
  font-family: "Roboto", sans-serif;
}
.filter-container {
 display: flex; 
 align-items: center;
 justify-content: center;
 margin-bottom: 30px;

}
.products-found{
  font-size: small;
  margin-right: 30px;
  
}
label{
  font-size: small;
}

input{
  height:  30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 12px;
 outline: none;
}
.card__list{
  display: grid;
}

@media screen and (max-width: 575px) {
 
  .card__list{
    grid-template-columns: repeat(1, calc(100% / 1));
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .card__list{
    grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media screen and (min-width: 992px) {
   .card__list{
    grid-template-columns: repeat(3, calc(100% / 3));
  }
}


.card-animation-appear {
  opacity: 0;
  transform: scale(0.7);

}

.card-animation-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 800ms linear;
}
